#!/usr/bin/perl -w

# make-debian-x11.config 
# Jonathan Rosenbaum <freesource@users.sourceforge.net>

use strict;
use Debconf::Client::ConfModule ':all';

# fset is just used for testing

#fset("make-debian-x11/close_gbootroot_down","seen","false");		
input("medium","make-debian-x11/close_gbootroot_down");
go();

#fset("make-debian-x11/make_debian_x11","seen","false");		
input("medium","make-debian-x11/make_debian_x11");
go();


my $answer = get("make-debian-x11/make_debian_x11");
if ($answer eq "true") {

# Check to see if the swim databases have ever been made before
    my $swim = "swim -qf /sbin/init|";
    my $swim_reply;
    open(SWIM,$swim) or warn "Had trouble using swim: $!\n";
        while (<SWIM>) {
            if ($_ eq "file init is not owned by any package\n") {
            	#fset("make-debian-x11/make_debian_x11-swim","seen","false");
		input("medium","make-debian-x11/make_debian_x11-swim");
		go();
            }
        }
    close(SWIM);


#fset("make-debian-x11/make_debian_x11-doc","seen","false");
input("medium","make-debian-x11/make_debian_x11-doc");
go();

#fset("make-debian-x11/make_debian_x11-zoneinfo","seen","false");
input("medium","make-debian-x11/make_debian_x11-zoneinfo");
go();

}

stop();


