Source: gbootroot
Section: utils
Priority: optional
Maintainer: Jonathan Rosenbaum <freesource@users.sourceforge.net>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: gbootroot
Architecture: any
Depends: libgtk-perl
Description: Graphical BootRoot
 BootRoot makes the construction/development of distributions fun and simple
 with its Root Methods (Yard) and user-mode-linux test bed. Finish the product
 with a Boot Method (2-disk compression supported). GNU Debian users should 
 try make_debian.
 .