Source: gbootroot
Section: utils
Priority: optional
Maintainer: Jonathan Rosenbaum <freesource@users.sourceforge.net>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: gbootroot
Architecture: all
Depends: libgtk-perl (>= 0.7002), ash, file, binutils, bzip2
Recommends: dswim
Description: Boot/Root Filesystem Distribution testing and creation.
 BootRoot makes the construction and development of distributions fun and 
 simple with its Root Methods (Yard) and user-mode-linux test bed.  Finish 
 the product with a Boot Method (2-disk compression supported).  Includes the 
 make_debian script to create a testable user-mode-linux base Debian system.  
 Add-ons available, see "apt-cache search gBootRoot."  Despite the programs
 name, you don't have to be root to run it or root to create root filesystems.
 .
 The latest and greatest gbootroot and stuff can be retrieved from here: 
 .	
 deb http://prdownloads.sourceforge.net/gbootroot ./
 deb http://prdownloads.sourceforge.net/avd ./
 .
